*.intro{
    color: blue;
    text-align: center;
     font-size: 4ex; 
     position: relative;
     left: 30px;
     
}
@media screen and (max-width: 1400px) {
    body {
      background-color: blue;
    }
  }
a:hover{
    color:rgb(9, 218, 26);
}

a:active{
    color:rgb(209, 9, 9)
}
header.intro{
    color: rgb(250,100,100);
    background-color: rgba(255, 255, 128, .5);
    position: static;
    
}

p span{
    text-decoration: underline;
    font-size: 1.2em;
}

section > ul >li{
    text-decoration: wavy;
    color: grey;
}

details + pre{
    background: lightblue;
    max-width: 50%;
    max-height: 50%;
    display: block;
}

div ~ form{
    color: lightpink;
}

h1.intro{
    font-style: italic;
}

#about{
    color: #810;
    border-style: dotted;
    border-color: black;
    border-width: 0.1cm;
    border-radius: 2pt ;
    height: 100pt;
    width: 1000pt;
    font-family: 'Hachi Maru Pop', cursive;
    padding: 50px 50px 50px 50px;
    margin: 50px 50px 50px 0px;
    display: inline-block;
}

#lang{
    color: hsl(6, 100%, 50%)
}

table,th,td{
    border-style: solid;
    border-color: black;
    border-width:  2px;
    border-radius: 2px;
    margin-bottom: 50px;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    height: 50%;
    
}

.skill{
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: hsla(120,100%,75%,0.3);
}

.storyline{
    padding: 10px 10px 10px 10px;
    background-color: #b8ffbc;
}